<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Explanation:</b>
  <%= @question.explanation %>
</p>

<p>
  <b>Answer url:</b>
  <%= @question.answer_url %>
</p>

<p>
  <b>Points to earn:</b>
  <%= @question.points_to_earn %>
</p>

<p>
  <b>Timer in seconds:</b>
  <%= @question.timer_in_seconds %>
</p>

<p>
  <b>Published:</b>
  <%= @question.published %>
</p>

<p>
  <b>Started at:</b>
  <%= @question.started_at %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
