<header>
  <!--
  <div class="notices">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>-->
  
  <div class="logo">
    <a href='/'><span><%= t('layout.header.app_name') %></span></a>
  </div>
  <% if @me %>
  <div class="profile">
    <%= link_to user_path(@user.id) do %>
      <span><%= @me['name'] %></span>
    <% end %>
    <img src="https://graph.facebook.com/<%= @me['id'] %>/picture" />
  </div>
  <% end %>
</header>
