<header>
  <!--
  <div class="notices">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>-->
  

  <% unless current_page?(root_url) %>
    <div class="logo">
      <a href='/'><span><%= t('layout.header.app_name') %></span></a>
    </div>
  <% end %>

  <% if @me %>
    <div class="profile">
      <% uid = @user.id unless @user.nil? %>
      <% path = uid ? user_path(uid) : '#' %>
      <%= link_to path do %>
        <span><%= @me['name'] %></span>
      <% end %>
      <img src="https://graph.facebook.com/<%= @me['id'] %>/picture" />
    </div>
  <% end %>

</header>
