<div class="row">
  <div class="four columns">
    <%= t('.question') %> <span id='index'><%= @index + 1 %></span>/<%= @game.questions.size %>
  </div>
  <div class="four columns">
    <%= t('.correct_answers') %>: <%= @game.correct_answers_count %>
  </div>
  <div class="four columns">
    <%= t('.points') %>: <%= @game.earned_points %>
  </div>
</div>

