<section class="dashboard">
  
  <div class="info">
    <ul>
      <li><%= t('.question') %> <span class="blue"><span id='index'><%= @index + 1 %></span>/<%= @game.questions.size %></span></li>
      <li><%= t('.correct_answers') %> <span class="blue"><%= @game.correct_answers_count %></span></li>
      <li><%= t('.points') %>: <span class="blue"><%= @game.earned_points %></span></li>
    </ul>
  </div>
  
</section>
