<div class="row">
  <div class="twelve columns">
    <h3 id='question-title'><%= t('.question') %></h3>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <span class="tag"></span>
  </div>
</div>

<br /><br />

<div class="row">
  <%= form_tag(answer_path(@game.id, @question.id), method: :put) do %>
    <div class="eight columns">
      <%= text_field_tag :answer, nil, placeholder: t('.placeholder'), class: 'eight columns' %>
    </div>
    <div class="two columns">
      <%= submit_tag t('.send'), class: 'button' %>
    </div>
    <div class="two columns">
      <%= link_to t('.skip'), next_path(@game.id), class: 'button' %>
    </div>
  <% end %>
</div>

