<div class="question"><h3 id='question-title'><%= t('.question') %></h3></div>

<ul class="tags">
  <% @question.tag_list.each do |t| %>
    <li class="radius label tag"><%= t %></li>
  <% end %>
</ul>

<div class="answer-field">
  <%= form_tag(answer_path(@game.id, @question.id), method: :put) do %>
    <%= text_field_tag :answer, nil, placeholder: t('.placeholder'), class: 'answer' %>
    <%= submit_tag t('.send'), class: 'button' %>
    <%= link_to t('.skip'), next_path(@game.id), class: 'button' %>
  <% end %>
</div>
