<div class="content">

  <%= render partial: "shared/header" %>

  <section class="dashboard">

  </section>

  <h3 class="game-results"><%=t '.results' %></h3>

  <ul class="stats">
    <li>
      <p><%= t('.correct_answers') %></p>
      <h1><%=t '.correct_answers_count_html', :count => @game.correct_answers_count, :total => @game.questions.size %></h1>
    </li>
    <li>
      <p><%=t '.earned_points' %></p>
      <h1><%= @game.earned_points %></h1>
    </li>
    <li style="margin-right: 0;">
      <p><%=t '.accumulated_points' %></p>
      <h1><%= @user.points %></h1>
    </li>
  </ul>

  <div class="rank"><span><%=t '.ranked_at' %></span> <b>#<%= @user.rank %></b></div>

  <ul class="top-five">
    <li class="title">Top 5:</li>
    <% User.top(5).each do |user| %>
      <li>
        <img src="https://graph.facebook.com/<%= user['facebook_id'] %>/picture" />
        <p class="points"><%= user.points %></p>
      </li>
    <% end %>
  </ul>

  <hr />


  <h3 class="vudu-link"><%=t '.movies_message_html' %></h3>


  <ul class="latest-movies">
    <% some_movies_answered_right(4).each do |movie| %>
      <li>
        <span class="frame"><img src=<%= movie.cover %> /></span>
        <h5><%= movie.title %></h5>
        <p><%= t '.movies_link_html', :url => movie.vudu_url %></p>
      </li>
    <% end %>
  </ul>

  <section class="play">
    <%= form_for(Game.new) do |f| %>
      <%= f.submit t('.play_again'), class: "large button" %>
    <% end %>
  </section>

  <%= render partial: "shared/footer" %>

</div>
