<div class="content">
  
  <%= render partial: "shared/header" %>
  
  <%= render('dashboard') %>

  <%= render('errors') if @game.errors.any? %>
  
  <div class="timer">
    <% if @explain_answer %>
      <h2 id="points">+<%= @answered_right ? @question.points_to_earn : 0 %> pts.</h2>
    <% else %>
      <h2 id="timer"><div class="clock"></div><span id="seconds"><%= @question.timer_in_seconds %></span> seg.</h2>
      <%= javascript_tag "var redirectUrl = '#{next_path(@game.id)}'" %>
    <% end %>
  </div>

  <%= render('images') %>

  <% if @explain_answer %>
    <%= render('description') %>
  <% else %>
    <%= render('input') %>
  <% end %>
  
  <%= render partial: "shared/footer" %>
</div>
