<h1>Vudutrivia</h1>

<% questions_counter = @index + 1 %>

<ul>
  <li>Earned points: <%= @game.earned_points %></li>
  <li>Correct answers count: <%= @game.correct_answers_count %></li>
  <li>Pregunta <span id='index'><%= questions_counter %></span>/<%= @game.questions.size %></li>
<ul>

<hr />

<ul>
  <li><%= image_tag @question.image1_url(:thumb) %></li>
  <li><%= image_tag @question.image2_url(:thumb) %></li>
  <li><%= image_tag @question.image3_url(:thumb) %></li>
</ul>

<%= form_tag(answer_path(@game.id, @question.id), method: :put) do %>
  <p id='question-title'><%= @question.title %></p>
  <% submit_title = questions_counter < @game.questions.size ? 'Responder' : 'Finalizar' %>
  <%= submit_tag submit_title %>
<% end %>

