<h1>Vudutrivia</h1>

<p>
  <b>Earned points:</b>
  <%= @game.earned_points %>
</p>

<p>
  <b>Correct answers count:</b>
  <%= @game.correct_answers_count %>
</p>

<hr />

<% questions_counter, questions_size = @index + 1, @game.questions.size %>

<ul>
  <li><%= image_tag @question.image1_url(:thumb) %></li>
  <li><%= image_tag @question.image2_url(:thumb) %></li>
  <li><%= image_tag @question.image3_url(:thumb) %></li>
</ul>


<p>Pregunta <span id='index'><%= questions_counter %></span>/<%= questions_size %></p>
<p id='question-title'><%= @question.title %></p>

<%= link_to 'Cancelar', @game, method: :delete %>
<% submit_title = questions_counter < questions_size ? 'Responder' : 'Finalizar' %>
<%= link_to submit_title, answer_path(@game.id, @question.id), method: :put %>

