<% questions_counter = @index + 1 %>

<div class="row">
  <div class="four columns">
    <%= t('.scoreboard.question') %> <span id='index'><%= questions_counter %></span>/<%= @game.questions.size %>
  </div>
  <div class="four columns">
    <%= t('.scoreboard.correct_answers') %>: <%= @game.correct_answers_count %>
  </div>
  <div class="four columns">
    <%= t('.scoreboard.points') %>: <%= @game.earned_points %>
  </div>
</div>

<hr />

<%= render('errors') if @game.errors.any? %>

<br />

<div class="row">
  <div class="four columns centered">
    <h2 id="timer"><%= @question.timer_in_seconds %></h2>
  </div>
</div>

<br />

<div class="row">
  <div class="four columns">
    <%= image_tag @question.image1_url(:thumb) %>
  </div>
  <div class="four columns">
    <%= image_tag @question.image2_url(:thumb) %>
  </div>
  <div class="four columns">
    <%= image_tag @question.image3_url(:thumb) %>
  </div>
</div>

<br />

<div class="row">
  <div class="twelve columns">
    <h3 id='question-title'><%= t('.question') %></h3>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <span class="tag"></span>
  </div>
</div>

<br /><br />

<div class="row">
  <%= form_tag(answer_path(@game.id, @question.id), method: :put) do %>
    <div class="eight columns">
      <%= text_field_tag :answer, nil, placeholder: t('.placeholder'), class: 'eight columns' %>
    </div>
    <div class="two columns">
      <% submit_title = questions_counter < @game.questions.size ? t('.send') : t('.finish') %>
      <%= submit_tag submit_title, class: 'button' %>
    </div>
    <div class="two columns">
      <%= link_to t('.skip'), skip_path(@game.id, @question.id), class: 'button' %>
    </div>
  <% end %>
</div>

