<div class="row">
  <div class="four columns centered">
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h2><%=t '.slogan' %></h2>
  </div>
</div>

<br />

<section id="get-started">
  <div class="row">
    <div class="four columns centered">
      <%= form_for(Game.new) do |f| %>
        <%= f.submit t('.play'), class: "large button" %>
      <% end %>
    </div>
  </div>
</section>

<br />

<div class="row">
  <div class="ten columns centered">
    <p><%=t '.teaser_title' %></p>
  </div>
</div>

<br />

<div class="row">
  <div class="ten columns centered">
    <p><%=t '.teaser_message' %></p>
  </div>
</div>

<br />

<div class="row">
  <div class="four columns">
    <img src="http://placehold.it/200x160" />
  </div>
  <div class="four columns">
    <img src="http://placehold.it/200x160" />
  </div>
  <div class="four columns">
    <img src="http://placehold.it/200x160" />
  </div>
</div>

<br />

<div class="row">
  <div class="ten columns centered">
  </div>
</div>

<div class="row">
  <div class="eight columns centered">

    <div class="row">
      <div class="twelve columns">
        <p><%=t '.friends_playing', :count => @friends_using_app.size %></p>
      </div>
    </div>

    <div class="row">
      <% some_friends_using_app(5).each do |friend_result| %>
        <div class="two columns">
          <img src='<%= friend_result['pic_square'] %>' alt='<%= friend_result['name'] %>' />
        </div>
      <% end %>
      <div class="two columns">
        <a class="button" href="#"><%=t '.invite' %></a>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <p><%=t '.visit_html' %></p>
      </div>
    </div>

  </div>
</div>

