<div class="welcome-content">
  <% if flash[:error] %>
    <div class="alert-box alert"><%= flash[:error] %></div>
  <% end %>

  <%= render partial: "shared/welcome_header" %>

  <div class="main-logo"></div>

  <h2 class="main-slogan"><%=t '.slogan' %></h2>

  <section id="get-started" class="play">
    <% if @me %>
      <%= form_for(Game.new) do |f| %>
        <%= f.submit t('.play'), class: "large button" %>
      <% end %>
    <% else %>
      <%= form_tag('/auth/facebook', :method => 'get') do %>
        <%= submit_tag t('.play'), class: "large button" %>
      <% end %>
    <% end %>
  </section>

  <section class="friends">
    <% unless @friends_using_app.nil? %>
      <h3><%=t '.friends_playing', :count => @friends_using_app.size %></h3>
      <ul>
      <% some_friends_using_app(5).each do |friend_result| %>
        <li><img src='<%= friend_result['pic_square'] %>' alt='<%= friend_result['name'] %>' /></li>
      <% end %>
      </ul>
      <a class="button" href="#"><%=t '.invite' %></a>
    <% end %>
  </section>

  <% banner = Banner.availableBanner %>
  <% if banner %>
    <section class="add-600x180"><img src='<%= banner.image_url %>' /></section>
  <% else %>
    <section class="add-600x180">Publicidad</section>
  <% end %>

  <%= render partial: "shared/footer" %>

</div>

