<div id="fb-root"></div>
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : "<%= ENV['FACEBOOK_APP_ID'] %>",         // App ID
      channelUrl : "<%= asset_path('channel.html') %>",     // Channel File
      status     : true,                                    // check login status
      cookie     : true,                                    // enable cookies to allow the server to access the session
      xfbml      : true                                     // parse XFBML
    });

    // Listen to the auth.login which will be called when the user logs in
    // using the Login button
    FB.Event.subscribe('auth.login', function(response) {
      // We want to reload the page now so Ruby can read the cookie that the
      // Javascript SDK sat. But we don't want to use
      // window.location.reload() because if this is in a canvas there was a
      // post made to this page and a reload will trigger a message to the
      // user asking if they want to send data again.
      window.location = window.location;
    });

    FB.Canvas.setAutoGrow();
  };

  // Load the SDK Asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="row">
  <div class="four columns centered">
    <a href='/auth/facebook' class="fb_button fb_button_medium">
      <span class="fb_button_text">Log In</span>
    </a>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h2><%=t '.slogan' %></h2>
  </div>
</div>

<br />

<section id="get-started">
  <div class="row">
    <div class="four columns centered">
      <%= form_for(Game.new) do |f| %>
        <%= f.submit t('.play'), class: "large button" %>
      <% end %>
    </div>
  </div>
</section>

<br />

<div class="row">
  <div class="ten columns centered">
    <p><%=t '.teaser_title' %></p>
  </div>
</div>

<br />

<div class="row">
  <div class="ten columns centered">
    <p><%=t '.teaser_message' %></p>
  </div>
</div>

<br />

<div class="row">
  <div class="four columns">
    <img src="http://placehold.it/200x160" />
  </div>
  <div class="four columns">
    <img src="http://placehold.it/200x160" />
  </div>
  <div class="four columns">
    <img src="http://placehold.it/200x160" />
  </div>
</div>

<br />

<div class="row">
  <div class="ten columns centered">
  </div>
</div>

<div class="row">
  <div class="eight columns centered">

    <div class="row">
      <div class="twelve columns">
        <p><%=t '.friends_playing' %></p>
      </div>
    </div>

    <div class="row">
      <div class="two columns">
        <img src="http://placehold.it/40x40" />
      </div>
      <div class="two columns">
        <img src="http://placehold.it/40x40" />
      </div>
      <div class="two columns">
        <img src="http://placehold.it/40x40" />
      </div>
      <div class="two columns">
        <img src="http://placehold.it/40x40" />
      </div>
      <div class="two columns">
        <img src="http://placehold.it/40x40" />
      </div>
      <div class="two columns">
        <a class="button" href="#"><%=t '.invite' %></a>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <p><%=t '.visit_html' %></p>
      </div>
    </div>

  </div>
</div>

