<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="es">
<head>
  <title><%= ENV['APP_NAME'] %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <!--[if IEMobile]>
  <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
  <![endif]-->

  <!-- These are Open Graph tags.  They add meta data to your  -->
  <!-- site that facebook uses when your content is shared     -->
  <!-- over facebook.  You should fill these tags in with      -->
  <!-- your data.  To learn more about Open Graph, visit       -->
  <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
  <meta property="og:title" content="<%= ENV['APP_NAME'] %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://vudu-trivia-staging.herokuapp.com" />
  <meta property="og:image" content="<%= asset_path('rails.png') %>" />
  <meta property="og:site_name" content="<%= ENV['APP_NAME'] %>" />
  <meta property="og:description" content="My First App" />
  <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>" />
  <!--[if IE]>
  <script type="text/javascript">
    var tags = ['header', 'section'];
    while(tags.length)
      document.createElement(tags.pop());
  </script>
  <![endif]-->
</head>
<body>

  <%= render 'layouts/facebook' %>

  <div class="row"><div class="twelve columns">

      <div class="row">
        <div class="twelve columns">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </div>

      <div class="row">
        <div class="eight columns">
          <h1><%= t('layout.header.app_name') %></h1>
        </div>
        <div class="four columns">
          <% if @user %>
            <img src="https://graph.facebook.com/<%= @user['id'] %>/picture?type=small" />
            <span><%= @user['name'] %></span>
          <% else %>
            <a href='/auth/facebook' class="fb_button fb_button_medium"><span class="fb_button_text">Log In</span></a>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <%= yield %>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="six columns">
          <%= t('layout.footer.copy_html') %>
        </div>
        <div class="six columns">
          <%= t('layout.footer.privacy_html') %>
        </div>
      </div>

  </div></div>

</body>
</html>
